html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
  font-family: Monaco;
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ------------------ Home Component CSS Begins Here ------------------ */
.home-container {
  overflow: hidden;
}
.brand-container {
  position: absolute;
  top: 90%;
  left: 20%;
  /* right: 50%; */
  height: 200px;
  width: 1100px;
  float: center;
  /* padding-top: 30%; */
  /* border-radius: 1rem;
  padding: 8px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black; */
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid black;
}
.slick-prev::before {
  font-family: FontAwesome;
  content: "\f0d9";
  font-size: 22px;
  color: #e26003;
  position: relative;
  top: 40%;
}
.slick-next::before {
  font-family: FontAwesome;
  content: "\f0da";
  font-size: 22px;
  color: #0324e2;
}

.carded {
  position: absolute;
  left: 4.5%;
  width: 1000px;
  height: 130px;
  bottom: 20%;
  border-radius: 15px 50px 30px 5px;
  padding: 8px;
  background-color: white;
  /* border-radius: 50%; */
  /* border: 1px solid black; */
}

.to-top {
  background: #5294be;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  box-shadow: rgba(34, 90, 182, 0.12) 0px 8px 8px 0px,
    rgba(41, 92, 176, 0.25) 0px 0px 1px 0px;
  z-index: 9999;
}
.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

/* ------------------ Home Component CSS 
and Scrolled functionality for goto top and background of header
change Begins Here ------------------ */

.navbar-container .nav {
  position: fixed;
  width: 100%;
  align-self: center;
  background-color: transparent;
}

.scrolled {
  top: 0px;
  background-color: #fff !important;
  transition: all 200ms linear;
  color: black;
  opacity: 1;
  box-shadow: rgba(34, 90, 182, 0.12) 0px 8px 8px 0px,
    rgba(41, 92, 176, 0.25) 0px 0px 1px 0px;
  z-index: 999;
}

.custom-scroll-progress {
  width: 100%;
  height: 3px;
  background: #fff;
  position: absolute;
  bottom: 0;
}

.scroll-progress {
  height: 3px;
  background: #00baff;
  border-radius: 4px;
  width: 0%;
}

/* ------------------ Workflow Component CSS Begins Here ------------------ */
.workflow-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  margin: 0;
  padding: 0;
}

.workflow-list > li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 40px;
  height: 65px;
  margin: 0 0 20px;
  border-radius: 4px;
  color: #fff;
  background-color: #001528;
  border-left: 4px solid #626ee3;
  width: 90%;
  max-width: 100%;
  margin-top: 0.5rem;
  box-shadow: rgba(79, 136, 248, 0.12) 0px 4px 24px 0px;
}

.workflow-container .workplan-header,
.workflow-container .work-preference-header,
.about-container .hexooid-vision,
.about-container .hexooid-overview,
.about-container .hexooid-mission,
.about-container .hexooid-goal {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
}

.about-container {
  overflow: hidden;
}

.workflow-container .underline,
.about-container .underline,
.footer-container .underline {
  height: 2px;
  width: 75px;
  background-color: #e26003;
  border-radius: 5px;
}

.workflow-box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 3rem;
  margin-top: 1rem;
}

.workflow-box-container .workflow-box {
  color: #fff;
  padding: 1rem 2rem;
  background-color: #1b2233;
  border-radius: 0.6rem;
}

/* ------------------ Services Component CSS Begins Here ------------------ */
.services-container .read-more,
.legal-services-container .read-more {
  text-decoration: none;
  display: inline-block;
  color: #626ee3;
  position: relative;
}

.services-container .service-header {
  background: #fff;
}

.services-container .active-service {
  background: #4ddc66;
}

.services-container .active-service::after {
  content: "";
  position: absolute;
  left: 95%;
  margin-left: -5px;
  border-width: 32px;
  z-index: 1;
  border-style: solid;
  border-color: transparent transparent transparent #4ddc66;
  /* content: "";
  position: absolute;
  right: -17px;
  margin-left: -5px;
  border-width: 32px;
  z-index: 1;
  border-style: solid;
  border-color: transparent #fff transparent transparent; */
}

.services-container .technicalConsultant::after {
  top: 10%;
}

.services-container .read-more:hover,
.legal-services-container .read-more:hover {
  color: blue;
}
.services-container .uiux-design-list,
.services-container .consulting-list,
.services-container .marketting-list,
.services-container .legal-services-list,
.our-services-wrapper .services-list {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  margin: 0;
  padding: 0;
}

.services-container .uiux-design-list > li,
.consulting-list > li,
.services-container .marketting-list > li,
.services-container .legal-services-list > li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 40px;
  height: 65px;
  margin: 0 0 20px;
  border-radius: 4px;
  color: #000;
  background-color: #fff;
  border-left: 4px solid #626ee3;
  width: 90%;
  max-width: 100%;
  margin-top: 0.5rem;
  box-shadow: rgba(79, 136, 248, 0.12) 0px 4px 24px 0px;
}

/* ------------------ Footer Component CSS Begins Contains Read More css also here ------------------ */

.footer-container .footer-link {
  cursor: pointer;
  display: inline-block;
  color: #a6a8ac;
  position: relative;
}

.footer-container .footer-link:hover {
  color: #fff;
}
.footer-container .footer-link:hover::after,
.services-container .read-more:hover::after,
.legal-services-container .read-more:hover::after {
  opacity: 1;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  padding-left: 0.5rem;
}
.footer-container .footer-link::after,
.services-container .read-more::after,
.legal-services-container .read-more::after {
  content: "»";
  position: absolute;
  top: 0;
  width: 1rem;
  height: 2rem;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* ------------------ ServiceDetails Component CSS Begins Contains Read More css also here ------------------ */
.service-details-container {
  overflow: hidden;
  width: 100%;
}

.service-details-container .services-offered {
  padding: 1rem;
  box-shadow: rgba(79, 136, 248, 0.12) 0px 4px 24px 0px;
}
/* .custom-service-details-row{
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  width: 100%;
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1rem;
} */

/* ------------------Legal ServiceDetails Component CSS Begins Contains Read More css also here ------------------ */
.legal-services-container .legal-services-offered h4,
.service-page-container .company-services h4 {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 3px;
  text-transform: capitalize;
}
.legal-services-offered,
.service-page-container .company-services {
  margin-bottom: 10px;
  min-height: 40%;
  box-shadow: 5px 5px 0 0 #eee;
  height: 100%;
  padding: 0.5rem;
}
.service-methodology {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.legal-services-container .responsive-image {
  width: 100%;
  height: auto;
}

/* ------------------Legal ServiceDetails Component CSS Begins Contains Read More css also here ------------------ */
.it-services-container,
.service-page-container {
  background-image: linear-gradient(to bottom, #fff -14%, #f3f4fd);
}

.it-services-offered {
  box-shadow: 25px 25px 45px -22px rgba(0, 0, 0, 0.2);
}
.responsive-image {
  width: 100%;
  height: auto;
}

.it-services-list {
  list-style: none;
  list-style-image: url(https://happay-website.s3-ap-southeast-1.amazonaws.com/dubai/tick.svg);
  padding-left: 1.5rem;
}

.it-service-content,
.service-page-container .service-content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

/* ------------------Services Page Component CSS Begins Contains Read More css also here ------------------ */

.service-page-container .services-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.service-page-container .services-list > li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  height: auto;
  border-radius: 4px;
  color: #000;
  background-color: #fff;
  border-left: 4px solid #626ee3;
  width: 90%;
  max-width: 100%;
  margin: 0.5rem 0 20px;
  box-shadow: 0 4px 24px 0 rgba(79, 136, 248, 0.12);
}

/* ------------------Our Services Component CSS Begins Contains Read More css also here ------------------ */

.our-services-wrapper {
  /* background: linear-gradient(#002402, rgb(18, 51, 20, 0.76), #546c55); */
  background-color: rgb(219, 255, 221, 0.95);
}

.our-services-wrapper .header {
  text-align: center;
  color: #fff;
  font-size: 2rem;
  margin: 1rem;
}

.our-services-wrapper .services-list > li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 40px;
  height: 65px;
  border-radius: 4px;
  margin: 0 0 1rem;
  color: #000;
  background-color: #fff;
  border-left: 4px solid #00ff7f;
  width: 90%;
  max-width: 100%;
  margin-top: 0.5rem;
  box-shadow: rgba(79, 136, 248, 0.12) 0px 4px 24px 0px;
}

.our-services-wrapper .our-services-para {
  margin: 1rem 0;
  text-align: justify;
  line-height: 1.6;
  color: #fff;
}

.our-services-wrapper .os-content-row {
  background-color: #348162;
  border-radius: 0.2rem;
  margin: 1rem 0;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.161);
}

.our-services-wrapper .os-content-column {
  /* display: flex;
  align-items: flex-end;
  justify-content: center; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.our-services-wrapper .os-row-header {
  text-align: justify;
  color: #fff;
  font-weight: bolder;
  letter-spacing: 2px;
}

.our-services-wrapper .os-tech-cons,
.our-services-wrapper .os-digi-mark {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 1fr));
}

.our-services-wrapper .content-col {
  padding: 1rem;
}

/*-------------------------------------Technology-List CSS begins here--------------------------------*/
.collapsible {
  background-color: royalblue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-bottom: 1rem;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.col-active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.technology-details-wrapper,
.healthcare-mail-wrapper,
.oncology-mail-wrapper,
.radiologists-mail-wrapper,
.nurseAnesthetist-mail-wrapper,
.construction-mail-wrapper,
.aviation-mail-wrapper,
.industry-mail-wrapper,
.automotive-mail-wrapper,
.physician-email-list,
.dentists-email-lists,
.doctors-email-lists {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-------------------------------------Technology-List CSS begins here--------------------------------*/

.nurseAnesthetist-mail-wrapper .list-management,
.construction-mail-wrapper .list-management,
.automotive-mail-wrapper .list-management {
  padding: 25px;
  background-color: #66cccc;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font-size: 26px;
  line-height: 32px;
}

/*-------------------------------------Home Page CSS begins here--------------------------------*/
.home-page-wrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}

.home-page-wrapper .home-card {
  box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, 0.1);
  background: #fff;
  min-height: 315px;
  padding: 1rem;
}

/* .home-page-wrapper .home-card:hover {
  background: #dde8fc;
} */

.home-page-wrapper .img-fluid {
  max-width: 100%;
  height: auto;
}

.home-page-wrapper .footer-area {
  z-index: 1;
  padding: 40px 0 60px 0;
  overflow-x: hidden;
  background: #252525;
}

.home-page-wrapper .card-image {
  position: absolute;
  height: 102px;
  width: 90%;
  object-fit: cover;
  /* background: #c5e3f6; */
  box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, 0.1);
  z-index: 1;
  top: -7%;
  left: 5%;
  border-radius: 2px;
}

.hexooid-logo {
  padding-left: 4.2rem;
}

@media only screen and (max-width: 450px) {
  .hexooid-logo {
    padding-left: 1.2rem;
  }
}

.home-page-wrapper .home-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.home-page-wrapper .card-content {
  margin-top: 32%;
}

/*-------------------------------------Footer CSS begins here--------------------------------*/

.footer-wrapper .copyrights {
  text-align: center;
  padding: 1rem 0;
}

@media only screen and (max-width: 400px) {
  .footer-wrapper {
    margin-top: 1rem;
  }
}
.footer-wrapper {
  background: #252525;
}

.footer-wrapper a {
  text-decoration: none;
  color: #0056b3;
}

.footer-wrapper .img-fluid {
  max-width: 26px;
  height: auto;
  margin-right: 10px;
}

/*-------------------------------------Navigation CSS begins here--------------------------------*/

.navigation-container a {
  text-decoration: none;
}

.navigation-container ul {
  list-style-type: none;
}

.navigation-container header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.navigation-container {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  padding: 0 1rem;
  height: 50px;
}

.navigation-container nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #e8ffe8;
}

.navigation-container .nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navigation-container .nav-list li {
  position: relative;
}

.navigation-container .sub-menu li {
  line-height: 1rem;
}

.navigation-container a {
  display: block;
  color: "#eee";
  padding: 1rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  transition: color 650ms;
}

.navigation-container a:hover {
  color: #eb3007;
}

.navigation-container .btn {
  padding: 0.5rem;
  display: inline-block;
  background-color: #eb3007;
  border: 2px solid #eb3007;
  border-radius: 2rem;
  transition: background-color 650ms;
}

.navigation-container .btn:hover {
  color: #eb3007;
  background-color: rgba(0, 0, 0, 0.2);
}

.sub-menu {
  width: 9rem;
  display: block;
  position: absolute;
  border-top: 3px solid #e26003;
  background-color: #191919;
  z-index: 100;
  top: 7rem;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
}

.navigation-container .sub-menu::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  left: 1rem;
  border: 0.7rem solid transparent;
  border-bottom-color: #eb3007;
}

.sub-menu .sub-menu {
  border-top: none;
  border-left: 3px solid #eb3007;
  top: 0;
  left: 130%;
}

.sub-menu .sub-menu::before {
  top: 2rem;
  left: -2.5rem;
  border: 1.2rem solid transparent;
  border-right-color: #eb3007;
}

.nav-list li:hover > .sub-menu {
  top: 4rem;
  opacity: 1;
  visibility: visible;
}

.sub-menu li:hover > .sub-menu {
  left: 100%;
  top: 0;
  opacity: 1;
  visibility: visible;
}

li.move-right {
  margin: auto 0 auto auto;
  line-height: initial;
}
.navigation-container .menu-icons {
  color: #eee;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1500;
  display: none;
}

@media only screen and (max-width: 850px) {
  .navigation-container .nav-list {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    height: 100vh;
    flex-direction: column;
    align-items: initial;
    background-color: #191919;
    z-index: 1000;
    overflow-y: scroll;
  }
  .navigation-container .nav-list > li {
    line-height: 6rem;
  }
  .sub-menu {
    position: initial;
    border: 3px solid transparent;
    border-left-color: #eb3007;
    margin-left: 1rem;
    max-height: 0;
  }
  .sub-menu::before {
    display: none;
  }
  .navigation-container .nav-list li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    max-height: initial;
  }
  li.move-right {
    margin: 0 auto;
    line-height: initial;
  }
  .navigation-container .menu-icons {
    display: block;
    margin-top: 5%;
  }

  .navigation-container .close-cross {
    display: none;
  }

  .navigation-container nav.active .close-cross {
    display: block;
  }

  .navigation-container nav.active .hamburger-menu {
    display: none;
  }

  nav.active .nav-list {
    display: flex;
  }
}

a:hover {
  text-decoration: none;
}

@media screen and (max-width: 450px) {
  .responsive-para {
    padding-bottom: 2rem;
  }
}
